@font-face{
    font-family: 'Bubblegum';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body {
    background-color: #4169e1;
    
    
}
section {
    margin: 20px;
    
}
h1 {
    font-family:'Bubblegum' ;
    font-size: 20pt;
    background-color: #daa520;
    display: block;
    width: 360px;
    text-align: center;
    border: solid transparent;
    border-radius: 15px;
    margin-bottom: 15px;
}
p {
	text-align: justify;
	text-indent: 50px; /* TAMANHO DO PARAGRAFO */
}
img {
    width: 400px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 2px black;
    
}
a#linkdeck{
    font-size: 5pt;
    margin-left: 270px;
    margin-top: 10px;
}
button{
    border-style: none;
    border-color: transparent;
    background-color: #daa520;
    color:#4169e1;
    text-shadow: .5px .5px 1px rgb(6, 2, 63);
    display: inline-block;
    font-size: 15pt;
    border-radius: 5px;
    margin-top: 15px;
    
}
